body
{
	overflow: hidden;
	background-color: #333;
	color: lightgray;
	font-size: 28px;
	font-family: 'Inconsolata';
	font-weight: 700;
}

#pojemnik
{
	width:90%;
	margin-left:auto;
	margin-right:auto;
}

#napis
{
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 28px;
	min-height: 60px;
}

#widgety
{
	float: right; 
	width: 20%;
	text-align: center;
	min-height: 280px;
}

#pogoda
{
	width: 100%;
	text-align: center;
	min-height: 280px;
}

#zegar
{
	margin-top: 50px;
	width: 100%;
	text-align: center;
	min-height: 280px;
}

#miejsca
{
	float: left; 
	width: 80%;
	text-align: center;
	min-height: 280px;
}

img:hover{
opacity : 0.70;
filter : alpha(opacity=70);
}

.litera
{
	width: 30px;
	height: 30px;
	text-align:center;
	padding: 5px;
	margin: 5px;
	border: 3px solid gray;
	float: left;
	cursor: pointer;
	border-radius: 15px;
}

.litera:hover
{
	background-color: #222222;
	color: white;
	border: 3px solid white;
}

.reset
{
	color:green;
	cursor: pointer;
	font-size: 48px;
}

.reset:hover
{
	color:white;
}
